services:
  oracle-db:
    image: container-registry.oracle.com/database/enterprise:19.19.0.0
    environment:
      - ORACLE_SID=ORCLCDB
      - ORACLE_PDB=ORCLPDB1
      - ORACLE_PWD=Oracle_123
      - ORACLE_EDITION=enterprise
    ports:
      - 1521:1521
    volumes:
      - oracle-data:/opt/oracle/oradata
      - oracle-backup:/opt/oracle/backup
    healthcheck:
      test: ["CMD", "sqlplus", "-L", "sys/Oracle_123@//localhost:1521/ORCLCDB as sysdba", "@healthcheck.sql"]
      interval: 30s
      timeout: 10s
      retries: 5

  oracle-sqlplus:
    image: container-registry.oracle.com/database/instantclient:latest
    restart: unless-stopped
    depends_on: oracle-db

volumes:
  oracle-data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: "/home/khuntly/workspace/Oracle/oradata"

  oracle-backup:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: "/home/khuntly/workspace/Oracle/orabackup"

