---
services:
  oracle-db:
    image: container-registry.oracle.com/database/enterprise:19.3.0.0
    user: "40000:40000"
    environment:
      - ORACLE_SID=ORCLCDB
      - ORACLE_PDB=ORCLPDB1
      - ORACLE_PWD=MMGMHUodJurQLv2Wxi5QFg0UHSqF90
      - ORACLE_EDITION=enterprise
    ports:
      - 1521:1521
    volumes:
      - oracle-data:/opt/oracle/oradata
      - oracle-backup:/opt/oracle/backup
    healthcheck:
      test: ["CMD", "sqlplus", "-L", "SYS/MMGMHUodJurQLv2Wxi5QFg0UHSqF90@//localhost:1521/ORCLCDB as sysdba", "@healthcheck.sql"]
      interval: 30s
      timeout: 10s
      retries: 5

---
volumes:
  oracle-data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: "/opt/oracle/oradata"

  oracle-backup:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: "/opt/oracle/orabackup"

