---
services:
  oracle-db:
    image: container-registry.oracle.com/database/enterprise:19.3.0.0
    pull_policy: missing
    hostname: oracle
    container_name: oracle
    environment:
      - ORACLE_SID=ORCLCDB
      - ORACLE_PDB=ORCLPDB1
      - ORACLE_PWD_FILE=/run/secrets/oracle
      - ORACLE_EDITION=enterprise
      - ENABLE_TCPS=true
      - TCPS_CERTS_LOCATION=/opt/oracle/wallet
    networks:
      service-network:
        ipv4_address: 192.168.1.11
    ports:
      - 1521:1521
      - 2484:2484
    volumes:
      - oracle-data:/opt/oracle/oradata:rw
      - oracle-backup:/opt/oracle/backup:rw
      - oracle-wallet:/opt/oracle/wallet:rw
    healthcheck:
      test: ["CMD", "sqlplus", "/", "as sysdba", "@healthcheck.sql"]
      interval: 30s
      timeout: 10s
      retries: 5

---
volumes:
  oracle-data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: "/opt/oracle/oradata"

  oracle-backup:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: "/opt/oracle/orabackup"

  oracle-wallet:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: "/opt/oracle/orawallet"

---
networks:
  service-network:
    external: true

---
secrets:
  oracle:
    file: "~/workspace/oracle/oracle.txt"
