---
services:
  oracle-db:
    image: container-registry.oracle.com/database/enterprise:19.3.0.0
    environment:
      - ORACLE_SID=ORCLCDB
      - ORACLE_PDB=ORCLPDB1
      - ORACLE_PWD=T7LPKpbeXo4DuuE2z9RfxWnxTQNR9u
      - ORACLE_EDITION=enterprise
    networks:
      oracle-network:
        ipv4_address: 192.168.252.15
    ports:
      - 1521:1521
    volumes:
      - oracle-data:/opt/oracle/oradata
      - oracle-backup:/opt/oracle/backup
    healthcheck:
      test: ["CMD", "sqlplus", "-L", "SYS/T7LPKpbeXo4DuuE2z9RfxWnxTQNR9u@//localhost:1521/ORCLCDB as sysdba", "@healthcheck.sql"]
      interval: 30s
      timeout: 10s
      retries: 5

---
volumes:
  oracle-data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: "/opt/oracle/oradata"

  oracle-backup:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: "/opt/oracle/orabackup"

networks:
  oracle-network:
    driver: bridge
    ipam:
      config:
        - subnet: 192.168.252.0/28
          gateway: 192.168.252.1
