# ====  ANSIBLE   =============================================================
#          NAME:  group_vars/all/main.yml
#   DESCRIPTION:  Common variables that apply to this play
# =============================================================================
---
- name: Create Ansible workspace
  ansible.builtin.file:
    path: "{{ user_account.home_dir | default(ansible_user_dir) }}/{{ ansible_workspace_entry }}"
    state: directory
    owner: "{{ ansible_user_id }}"
    group: "{{ ansible_user_gid }}"
    mode: "0755"
  loop:
    - "workspace/ansible/roles"
    - "workspace/ansible/inventory"
    - "workspace/ansible/vault"
  loop_control:
    loop_var: "ansible_workspace_entry"
  listen: create-ansible-workspace

- name: Install Ansible workspace
  ansible.builtin.copy:
    src: "files/workspace/ansible"
    dest: "{{ user_account.home_dir | default(ansible_user_dir) }}/workspace/ansible"
    owner: "{{ ansible_user_id }}"
    group: "{{ ansible_user_gid }}"
    mode: "0755"
  listen: install-ansible-workspace
