---
apiVersion: v1
kind: ConfigMap
metadata:
  name: coredns-custom
  namespace: kube-system
data:
  cwsna.server: |
    caspersbox.com:53 {
        log
        errors
        cache 30
        health
        forward . 192.168.12.6:53
    }
