---
apiVersion: v1
kind: Pod
metadata:
  name: debug-pod
spec:
  containers:
    - name: fedora
      command: ["sleep", "infinity"]

      volumeMounts: []
        # - name: keystore-volume
        #   mountPath: "/mnt/data/ssl/keystore.jks"
        #   subPath: keystore.jks

      env: []
        # - name: KEYSTORE_PASSWORD
        #   valueFrom:
        #     secretKeyRef:
        #       name: keystore-secrets
        #       key: keystore-password

   volumes: []
    # - name: keystore-files
    #   secret:
    #     secretName: keystore-files
