---
apiVersion: v1
kind: Pod
metadata:
  name: debug-pod
spec:
  containers:
    - name: fedora
      container_name: fedora
      image: fedora:43
      command: ["sleep", "infinity"]
      volumeMounts:
        - name: storage-volume
          mountPath: "/mnt/data"
      restartPolicy: never
  volumes:
    - name: storage-volume
      persistentVolumeClaim:
        claimName: "<PVC NAME>"
