---
apiVersion: v1
kind: ConfigMap
metadata:
  name: coredns
  namespace: kube-system
data:
  Corefile: |
    .:53 {
        errors
        health
        ready
        kubernetes cluster.local in-addr.arpa ip6.arpa {
          pods insecure
          fallthrough in-addr.arpa ip6.arpa
        }
        hosts /etc/coredns/NodeHosts {
          ttl 60
          reload 15s
          fallthrough
        }
        prometheus :9153
        forward . /etc/resolv.conf
        cache 30
        loop
        reload
        loadbalance
        import /etc/coredns/custom/*.override
    }
    import /etc/coredns/custom/*.server
  NodeHosts: |
    172.18.0.1 host.k3d.internal
    172.18.0.2 k3d-registry.local
    172.18.0.4 k3d-continuity-agent-0
    172.18.0.6 k3d-continuity-serverlb
    172.18.0.5 k3d-continuity-agent-1
    172.18.0.3 k3d-continuity-server-0
    192.168.12.6 fedora.desktop oracle.fedora.local mssql.fedora.local broker01.fedora.local broker02.fedora.loc broker03.fedora.local oracle mssql broker01 broker02 broker03
