#==============================================================================
#
#          FILE:  .gitignore
#         USAGE:  N/A
#   DESCRIPTION:  git ignore - per-repo
#
#       OPTIONS:  ---
#  REQUIREMENTS:  ---
#          BUGS:  ---
#         NOTES:  ---
#        AUTHOR:  Kevin Huntly <kmhuntly@gmail.com>
#       COMPANY:  ---
#       VERSION:  1.0
#       CREATED:  ---
#      REVISION:  ---
#
#==============================================================================

# dotfiles ignores
#
#
# dont ignore these directories
#
!bin/
!lib/

#
# dont ignore these files
#

#
# ignore these directories
#
.ansible

#
# ignore these files
#
config/ansible/vault.yml
config/ansible/hosts.yml
config/profile/authfile.gpg
