# =====  ANSIBLE  ============================================================
#          NAME:  tasks/deploy-files.yml
#   DESCRIPTION:  Primary entry point for this play
# =============================================================================
---
- name: Remove any existing configuration directories
  ansible.builtin.file:
    path: "{{ user_account.home_dir | default(ansible_user_dir) }}/.config/{{ rm_config_item }}"
    state: "absent"
  loop:
    - "environment.d"
    - "git"
    - "gnupg"
    - "systemd"
    - "tmux"
  loop_control:
    loop_var: "rm_config_item"

- name: Create links in home directory to config files
  ansible.builtin.file:
    src: "{{ install.base_path }}/config/{{ ln_config_item }}"
    dest: "{{ user_account.home_dir | default(ansible_user_dir) }}/.config/{{ ln_config_item }}"
    state: "link"
    owner: "{{ ansible_user_id }}"
    group: "{{ ansible_user_gid }}"
  loop:
    - "environment.d"
    - "git"
    - "gnupg"
    - "systemd"
    - "tmux"
  loop_control:
    loop_var: "ln_config_item"

- name: Create links in home directory to dotfiles
  ansible.builtin.file:
    src: "{{ install.base_path }}/config/ssh/{{ ssh_item }}"
    dest: "{{ user_account.home_dir | default(ansible_user_dir) }}/.ssh/{{ ssh_item }}"
    state: "link"
    owner: "{{ ansible_user_id }}"
    group: "{{ ansible_user_gid }}"
  loop:
    - "config"
    - "config.d"
  loop_control:
    loop_var: "ssh_item"

- name: Create ssh local.d
  ansible.builtin.file:
    path: "{{ user_account.home_dir | default(ansible_user_dir) }}/.ssh/local.d"
    state: "directory"
    owner: "{{ ansible_user_id }}"
    group: "{{ ansible_user_gid }}"
    mode: "0755"
