# =====  ANSIBLE  ============================================================
#          NAME:  tasks/deploy-files.yml
#   DESCRIPTION:  Primary entry point for this play
# =============================================================================
---
- name: "Create or update permissions on ${HOME}/.ssh"
  ansible.builtin.file:
    path: "{{ user_home_dir | default(ansible_user_dir) }}/.ssh"
    state: directory
    owner: "{{ ansible_user_id }}"
    group: "{{ ansible_user_gid }}"
    mode: "0700"

- name: "Check for existing SSH keys"
  ansible.builtin.stat:
    path: "{{ user_account.home_dir | default(ansible_user_dir) }}/.ssh/id_{{ user_account.ssh.key_type }}"
  register: "install_dotfiles_key_exists"

- name: "Create SSH key pair (if enabled, with passphrase)"
  community.crypto.openssh_keypair:
    path: "{{ user_account.home_dir | default(ansible_user_dir) }}/.ssh/id_{{ user_account.ssh.key_type }}"
    type: "{{ user_account.ssh.key_type }}"
    comment: ""
    owner: "{{ ansible_user_id }}"
    group: "{{ ansible_user_gid }}"
    mode: "0600"
    passphrase: "{{ user_account.ssh.passphrase }}"
  when:
    - user_account.ssh.passphrase is defined
    - not install_dotfiles_key_exists.stat.exists
  notify: reload-key-agents

- name: "Create SSH key pair (if enabled, no passphrase)"
  community.crypto.openssh_keypair:
    path: "{{ user_account.home_dir | default(ansible_user_dir) }}/.ssh/id_{{ user_account.ssh.key_type }}"
    type: "{{ user_account.ssh.key_type }}"
    comment: ""
    owner: "{{ ansible_user_id }}"
    group: "{{ ansible_user_gid }}"
    mode: "0600"
  when:
    - user_account.ssh.passphrase is undefined
    - not install_dotfiles_key_exists.stat.exists
  notify: reload-key-agents
