# =====  ANSIBLE  ============================================================
#          NAME:  tasks/deploy-files.yml
#   DESCRIPTION:  Primary entry point for this play
# =============================================================================
---
- name: "Create directories if they do not exist"
  ansible.builtin.file:
    path: "{{ user_account.home_dir | default(ansible_user_dir) }}/{{ add_home_item }}"
    state: "directory"
    owner: "{{ ansible_user_id }}"
    group: "{{ ansible_user_gid }}"
    mode: "0755"
  loop:
    - "log"
    - "log/archive"
    - "workspace"
    - "workspace/ansible"
    - "workspace/ansible/vault"
    - "workspace/ansible/inventory"
    - "workspace/ansible/roles"
    - ".config"
  loop_control:
    loop_var: "add_home_item"
  failed_when: false

- name: "Create SSH directory"
  ansible.builtin.file:
    path: "{{ user_account.home_dir | default(ansible_user_dir) }}/.ssh"
    state: "directory"
    owner: "{{ ansible_user_id }}"
    group: "{{ ansible_user_gid }}"
    mode: "0700"
