# =====  ANSIBLE  ============================================================
#          NAME:  tasks/deploy-files.yml
#   DESCRIPTION:  Primary entry point for this play
# =============================================================================
---
- name: Remove any existing dotfiles in home
  ansible.builtin.file:
    path: "{{ user_home_dir }}/.{{ rm_dotfiles_item }}"
    state: absent
  loop:
    - "bash_profile"
    - "bash_logout"
    - "bashrc"
    - "netrc"
    - "digrc"
    - "mailrc"
    - "inputrc"
    - "odbc.ini"
    - "vim"
    - "wgetrc"
  loop_control:
    loop_var: "rm_dotfiles_item"

- name: Create dotfiles links in home directory
  ansible.builtin.file:
    src: "{{ install_dotfiles_base_path }}/{{ ln_dotfiles_item }}"
    dest: "{{ user_home_dir }}/.{{ ln_dotfiles_item }}"
    state: "link"
    owner: "{{ ansible_user_id }}"
    group: "{{ ansible_user_gid }}"
  loop:
    - "bash_profile"
    - "bash_logout"
    - "bashrc"
  loop_control:
    loop_var: "ln_dotfiles_item"

- name: Create system dotfiles in home directory
  ansible.builtin.file:
    src: "{{ install_dotfiles_base_path }}/config/system/{{ ln_system_item }}"
    dest: "{{ user_home_dir }}/.{{ ln_system_item }}"
    state: "link"
    owner: "{{ ansible_user_id }}"
    group: "{{ ansible_user_gid }}"
  loop:
    - "digrc"
    - "mailrc"
    - "inputrc"
    - "odbc.ini"
    - "vim"
  loop_control:
    loop_var: "ln_system_item"

- name: Remove any existing bin/lib directories in home
  ansible.builtin.file:
    path: "{{ user_home_dir }}/{{ rm_home_item }}"
    state: absent
  loop:
    - "bin"
    - "lib"
  loop_control:
    loop_var: "rm_home_item"

- name: Create links for bin and lib
  ansible.builtin.file:
    src: "{{ install_dotfiles_base_path }}/{{ add_home_item }}"
    dest: "{{ user_home_dir }}/{{ add_home_item }}"
    state: "link"
    owner: "{{ ansible_user_id }}"
    group: "{{ ansible_user_gid }}"
  loop:
    - "bin"
    - "lib"
  loop_control:
    loop_var: "add_home_item"

- name: Create links in home directory for system config files
  ansible.builtin.file:
    src: "{{ install_dotfiles_base_path }}/config/system/{{ ln_home_item }}"
    dest: "{{ user_home_dir }}/.{{ ln_home_item }}"
    state: "link"
    owner: "{{ ansible_user_id }}"
    group: "{{ ansible_user_gid }}"
  loop:
    - "netrc"
    - "digrc"
    - "mailrc"
    - "inputrc"
    - "odbc.ini"
    - "vim"
  loop_control:
    loop_var: "ln_home_item"

- name: Create link for Ansible
  ansible.builtin.file:
    path: "{{ user_home_dir }}/ansible.cfg"
    state: "absent"

- name: Create link for Ansible
  ansible.builtin.file:
    src: "{{ install_dotfiles_base_path }}/config/ansible/ansible.cfg"
    dest: "{{ user_home_dir }}/ansible.cfg"
    state: "link"
    owner: "{{ ansible_user_id }}"
    group: "{{ ansible_user_gid }}"
