# =====  ANSIBLE  ============================================================
#          NAME:  tasks/deploy-files.yml
#   DESCRIPTION:  Primary entry point for this play
# =============================================================================
---
- name: Remove any existing configuration directories
  ansible.builtin.file:
    path: "{{ user_home_dir }}/.config/{{ rm-config-item }}"
    state: "absent"
  loop:
    - "environment.d"
    - "git"
    - "gnupg"
    - "systemd"
    - "tmux"
  loop_control:
    loop_var: "rm-config-item"

- name: Create links in home directory to config files
  ansible.builtin.file:
    src: "{{ install_dotfiles_base_path }}/config/{{ ln-config-item }}"
    dest: "{{ user_home_dir }}/.config/{{ ln-config-item }}"
    state: "link"
    owner: "{{ ansible_user_id }}"
    group: "{{ ansible_user_gid }}"
    mode: "0755"
  loop:
    - "environment.d"
    - "git"
    - "gnupg"
    - "systemd"
    - "tmux"
  loop_control:
    loop_var: "ln-config-item"
