# =====  ANSIBLE  ============================================================
#          NAME:  tasks/deploy-files.yml
#   DESCRIPTION:  Primary entry point for this play
# =============================================================================
---
- name: Check for existing GPG keys
  ansible.builtin.stat:
    path: "{{ user_home_dir }}/.config/gnupg/gpg.sec"
  register: "install_dotfiles_gpg_exists"

- name: Create private keys directory
  ansible.builtin.file:
    path: "{{ user_home_dir }}/.config/gnupg/private-keys-v1.d"
    state: "directory"
    owner: "{{ ansible_user_id }}"
    group: "{{ ansible_user_gid }}"
    mode: "0700"

- name: Define GPG batch configuration file content
  ansible.builtin.template:
    src: "{{ install_dotfiles_base_path }}/config/gnupg/gpg-template.j2"
    dest: "/var/tmp/gpg-input.txt"
    mode: "0600"

- name: Generate the GPG key pair using batch mode
  ansible.builtin.command:
    cmd:
      - gpg --batch --gen-key /var/tmp/gpg-input.txt
    creates: "{{ user_home_dir }}/.config/gnupg/gpg.sec"

- name: Export the public key (ASCII armored)
  ansible.builtin.command:
    cmd:
      - gpg --armor --export {{ user_account.email }}
  register: install_dotfiles_gpg_public_key_output
  changed_when: false

- name: Display the public key
  ansible.builtin.debug:
    var: install_dotfiles_gpg_public_key_output.stdout_lines

- name: Export the private key (ASCII armored)
  ansible.builtin.command:
    cmd:
      - gpg --pinentry-mode loopback --passphrase {{ user_account.gpg_passphrase }} --armor --export-secret-key {{ user_account.email }}
  register: install_dotfiles_gpg_private_key_output
  changed_when: false
  no_log: true

- name: Display the private key (masked in logs)
  ansible.builtin.debug:
    var: install_dotfiles_gpg_private_key_output.stdout_lines
  no_log: true

- name: Remove temporary GPG file
  ansible.builtin.file:
    path: "/var/tmp/gpg-input.txt"
    state: absent
