# =====  ANSIBLE  ============================================================
#          NAME:  tasks/deploy-files.yml
#   DESCRIPTION:  Primary entry point for this play
# =============================================================================
---
- name: Create links in home directory to dotfiles
  ansible.builtin.file:
    src: "{{ install_dotfiles_base_path }}/config/ssh/{{ item }}"
    dest: "${HOME}/.ssh/{{ item }}"
    state: "link"
    owner: "{{ ansible_user_id }}"
    group: "{{ ansible_user_gid }}"
    mode: "0644"
  loop:
    - "config"
    - "config.d"
