# =====  ANSIBLE  ============================================================
#          NAME:  tasks/deploy-files.yml
#   DESCRIPTION:  Primary entry point for this play
# =============================================================================
---
- name: Check for existing SSH keys
  ansible.builtin.stat:
    path: "{{ user_home_dir }}/.ssh/id_ed25519"
  register: "install_dotfiles_key_exists"

- name: Create SSH key pair (if enabled, with passphrase)
  community.crypto.openssh_keypair:
    path: "{{ user_home_dir }}/.ssh/id_{{ ssh.key_type }}"
    type: "{{ ssh.key_type }}"
    comment: ""
    mode: "0600"
    passphrase: "{{ ssh.passphrase }}"
  when:
    - ssh.ssh_passphrase is defined
    - not install_dotfiles_key_exists.stat.exists

- name: Create SSH key pair (if enabled, no passphrase)
  community.crypto.openssh_keypair:
    path: "{{ user_home_dir }}/.ssh/id_{{ ssh.key_type }}"
    type: "{{ ssh.key_type }}"
    comment: ""
    mode: "0600"
  when:
    - ssh.ssh_passphrase is undefined
    - not install_dotfiles_key_exists.stat.exists
