# =====  ANSIBLE  ============================================================
#          NAME:  tasks/deploy-files.yml
#   DESCRIPTION:  Primary entry point for this play
# =============================================================================
---
- name: Search for existing private keys
  ansible.builtin.find:
    paths: "{{ user_account.home_dir | default(ansible_user_dir) }}/.config/gnupg/private-keys-v1.d/"
    patterns: "*.key"
    file_type: "file"
    recurse: false
  register: "install_dotfiles_gpg_keys_files_found"

- name: Define GPG batch configuration file content
  ansible.builtin.template:
    src: "{{ install.base_path }}/config/gnupg/gpg-template.j2"
    dest: "/var/tmp/gpg-input.txt"
    mode: "0600"
  when:
    - install_dotfiles_gpg_keys_files_found.files | count == 0
  notify:
    - generate-gpg-keys
    - reload-key-agents

- name: Remove temporary GPG file
  ansible.builtin.file:
    path: "/var/tmp/gpg-input.txt"
    state: absent
