# =====  ANSIBLE  ============================================================
#          NAME:  tasks/deploy-files.yml
#   DESCRIPTION:  Primary entry point for this play
# =============================================================================
---
- name: Remove any existing dotfiles in home
  ansible.builtin.file:
    path: "{{ user_home_dir }}/.{{ rm-dotfiles-item }}"
    state: absent
  loop:
    - "profile"
    - "bash_profile"
    - "bash_logout"
    - "bashrc"
    - "netrc"
    - "digrc"
    - "mailrc"
    - "inputrc"
    - "odbc.ini"
    - "vim"
  loop_control:
    loop_var: "rm-dotfiles-item"

- name: Create dotfiles links in home directory
  ansible.builtin.file:
    src: "{{ install_dotfiles_base_path }}/{{ ln-dotfiles-item }}"
    dest: "{{ user_home_dir }}/.{{ ln-dotfiles-item }}"
    state: "link"
    owner: "{{ ansible_user_id }}"
    group: "{{ ansible_user_gid }}"
    mode: "0644"
  loop:
    - "profile"
    - "bash_profile"
    - "bash_logout"
    - "bashrc"
  loop_control:
    loop_var: "ln-dotfiles-item"

- name: Create system dotfiles in home directory
ansible.builtin.file:
    src: "{{ install_dotfiles_base_path }}/config/system/{{ ln-system-item }}"
    dest: "{{ user_home_dir }}/.{{ ln-system-item }}"
    state: "link"
    owner: "{{ ansible_user_id }}"
    group: "{{ ansible_user_gid }}"
    mode: "0644"
  loop:
    - "netrc"
    - "digrc"
    - "mailrc"
    - "inputrc"
    - "odbc.ini"
    - "vim"
  loop_control:
    loop_var: "ln-system-item"

- name: Remove any existing bin/lib directories in home
  ansible.builtin.file:
    path: "{{ user_home_dir }}/{{ rm-home-item }}"
    state: absent
  loop:
    - "bin"
    - "lib"
  loop_control:
    loop_var: "rm-home-item"

- name: Create links for bin and lib
  ansible.builtin.file:
    src: "{{ install_dotfiles_base_path }}/{{ add-home-item }}"
    dest: "{{ user_home_dir }}/{{ add-home-item }}"
    state: "link"
    owner: "{{ ansible_user_id }}"
    group: "{{ ansible_user_gid }}"
    mode: "0755"
  loop:
    - "bin"
    - "lib"
  loop_control:
    loop_var: "add-home-item"

- name: Create links in home directory for system config files
  ansible.builtin.file:
    src: "{{ install_dotfiles_base_path }}/config/system/{{ ln-home-item }}"
    dest: "{{ user_home_dir }}/.{{ ln-home-item }}"
    state: "link"
    owner: "{{ ansible_user_id }}"
    group: "{{ ansible_user_gid }}"
    mode: "0644"
  loop:
    - "netrc"
    - "digrc"
    - "mailrc"
    - "inputrc"
    - "odbc.ini"
    - "vim"
  loop_control:
    loop_var: "ln-home-item"

- name: Create link for Ansible
  ansible.builtin.file:
    path: "{{ user_home_dir }}/ansible.cfg"
    state: "absent"

- name: Create link for Ansible
  ansible.builtin.file:
    src: "{{ install_dotfiles_base_path }}/config/ansible/ansible.cfg"
    dest: "{{ user_home_dir }}/ansible.cfg"
    state: "link"
    owner: "{{ ansible_user_id }}"
    group: "{{ ansible_user_gid }}"
    mode: "0644"
