# =====  ANSIBLE  ============================================================
#          NAME:  tasks/deploy-files.yml
#   DESCRIPTION:  Primary entry point for this play
# =============================================================================
---
- name: Check for existing GPG keys
  ansible.builtin.stat:
    path: "{{ user_home_dir }}/.config/gnupg/gpg.sec"
  register: "install_dotfiles_gpg_exists"

- name: Create private keys directory
  ansible.builtin.file:
    path: "{{ user_home_dir }}/.config/gnupg/private-keys-v1.d"
    state: "directory"
    owner: "{{ ansible_user_id }}"
    group: "{{ ansible_user_gid }}"
    mode: "0700"

- name: Define GPG batch configuration file content
  ansible.builtin.template:
    src: "{{ install_dotfiles_base_path }}/config/gnupg/gpg-template.j2"
    dest: "/var/tmp/gpg-input.txt"
    mode: "0600"

- name: Generate the GPG key pair using batch mode
  ansible.builtin.command:
    argv:
      - gpg
      - --batch
      - --gen-key
      - /var/tmp/gpg-input.txt
    creates: "{{ user_home_dir }}/.config/gnupg/punting.kbx"

- name: Export the public key (ASCII armored)
  ansible.builtin.command:
    cmd: "gpg --armor --export {{ user_account.email }}"
  register: install_dotfiles_gpg_public_key_output
  changed_when: false

- name: Copy the public key
  ansible.builtin.copy:
    content: "{{ install_dotfiles_gpg_public_key_output.stdout_lines }}"
    dest: "{{ user_home_dir }}/.config/gnupg/public-key.asc"
  run_once: true
  # nolog: true

- name: Export the private key (ASCII armored)
  ansible.builtin.command:
    cmd: "gpg --pinentry-mode loopback --passphrase {{ user_account.gpg_passphrase }} --armor --export-secret-key {{ user_account.email }}"
  register: install_dotfiles_gpg_private_key_output
  changed_when: false
  # no_log: true

- name: Copy the public key
  ansible.builtin.copy:
    content: "{{ install_dotfiles_gpg_private_key_output.stdout_lines }}"
    dest: "{{ user_home_dir }}/.config/gnupg/private-key.asc"
  run_once: true
  # no_log: true

- name: Remove temporary GPG file
  ansible.builtin.file:
    path: "/var/tmp/gpg-input.txt"
    state: absent
