# =====  ANSIBLE  ============================================================
#          NAME:  tasks/deploy-files.yml
#   DESCRIPTION:  Primary entry point for this play
# =============================================================================
---
- name: Get SSH key
  google.cloud.gcp_secret_manager:
    auth_kind: "serviceaccount"
    service_account_file: "{{ user_home_dir }}/.config/gcloud/service_account.json"
    project: "{{ gcp.projects.project_id }}"
    name: "ssh-key"
    state: present
    return_value: true
  register: "install_dotfiles_ssh_key_output"
  when:
    - ssh.fetch_keys == "true"
    - ssh.generate_keys == "false"
  notify:
    - save-ssh-key
    - reload-key-agents
