# =====  ANSIBLE  ============================================================
#          NAME:  tasks/deploy-files.yml
#   DESCRIPTION:  Primary entry point for this play
# =============================================================================
---
- name: Get GPG Private Key
  google.cloud.gcp_secret_manager:
    auth_kind: "serviceaccount"
    service_account_file: "{{ user_home_dir }}/.config/gcloud/service_account.json"
    project: "{{ gcp.projects.project_id }}"
    name: "gpg-private-key"
    state: present
    return_value: true
  register: "install_dotfiles_gpg_private_key_output"
  when:
    - gpg.generate_keys == "false"
    - gpg.fetch_keys == "true"
    - secrets.GCP_ACCESS_TOKEN is defined
    - gcp.projects.project_id is defined
  notify:
    - add-gpg-key
    - import-gpg-key
    - cleanup-gpg-files
