# =====  ANSIBLE  ============================================================
#          NAME:  tasks/deploy-files.yml
#   DESCRIPTION:  Primary entry point for this play
# =============================================================================
---
- name: Fetch SSH key pair (if enabled)
  vars:
    ssh_key_data: "{{ lookup('google.cloud.gcp_secret_manager', name='ssh-key', project='home') }}"
    content: "{{ ssh_key_data }}"
    dest: "{{ user_home_dir }}/.ssh/id_ed25519"
    mode: "0600"
