# =====  ANSIBLE  ============================================================
#          NAME:  tasks/deploy-files.yml
#   DESCRIPTION:  Primary entry point for this play
# =============================================================================
---
- name: Get SSH key
  google.cloud.gcp_secret_manager:
    auth_kind: "accesstoken"
    access_token: "{{ secrets.GCP_ACCESS_TOKEN }}"
    project: "{{ gcp.projects.project_id }}"
    name: "ssh-key"
    state: present
    return_value: true
  register: "install_dotfiles_ssh_key_output"
  when:
    - ssh.fetch_keys == "true"
    - secrets.GCP_ACCESS_TOKEN is defined
    - gcp.projects.project_id is defined

- name: Save private key file
  ansible.builtin.copy:
    content: "{{ install_dotfiles_ssh_key_output.value }}"
    dest: "{{ user_home_dir }}/.ssh/id_{{ ssh.key_type }}"
    owner: "{{ ansible_user_id }}"
    group: "{{ ansible_user_gid }}"
    mode: "0600"
  when:
    - ssh.fetch_keys == "true"
    - install_dotfiles_ssh_key_output.value is defined
