# =====  ANSIBLE  ============================================================
#          NAME:  tasks/deploy-files.yml
#   DESCRIPTION:  Primary entry point for this play
# =============================================================================
---
- name: "Save service account file (Google Cloud)"
  ansible.builtin.copy:
    content: "{{ secrets.google.GCP_SERVICE_ACCOUNT }}"
    dest: "{{ install.tmp_dir | default(ansible_user_dir) }}/service_account.json"
    owner: "{{ ansible_user_id }}"
    group: "{{ ansible_user_gid }}"
    mode: "0600"
  when:
    - secrets.google.GCP_SERVICE_ACCOUNT is defined
    - secrets.google.GCP_SERVICE_ACCOUNT | length > 0

- name: "Get GPG Private Key (Google Cloud)"
  google.cloud.gcp_secret_manager:
    auth_kind: "serviceaccount"
    service_account_file: "{{ install.tmp_dir | default(ansible_user_dir) }}/service_account.json"
    project: "{{ gcp.projects.project_id }}"
    name: "{{ gcp.projects.gpg_key_id }}"
    state: present
    return_value: true
  register: "install_dotfiles_gpg_private_key_output"
  when:
    - gcp.projects.project_id is defined
    - gcp.projects.project_id | length > 0
    - gcp.secret_entries.gpg_key_id is defined
    - gcp.secret_entries.gpg_key_id | length > 0

- name: "Save fetched GPG private key file"
  ansible.builtin.copy:
    content: "{{ install_dotfiles_gpg_private_key_output }}"
    dest: "{{ install.tmp_dir | default(ansible_user_dir) }}/privkey.asc"
    owner: "{{ ansible_user_id }}"
    group: "{{ ansible_user_gid }}"
    mode: "0600"

- name: "Import fetched GPG private key"
  ansible.builtin.command:
    argv:
      - "gpg"
      - "--batch"
      - "--passphrase"
      - "{{ user_account.gpg.passphrase }}"
      - "--pinentry-mode loopback"
      - "--import"
      - "{{ install.tmp_dir | default(ansible_user_dir) }}/privkey.asc"
    creates: "{{ user_account.home_dir | default(ansible_user_dir) }}/.gnupg/private-keys-v1.d/*.key"
  when:
    - user_account.gpg.passphrase is defined
    - user_account.gpg.passphrase | length > 0

- name: "Remove temporary GPG file"
  ansible.builtin.file:
    path: "{{ install.tmp_dir | default(ansible_user_dir) }}/privkey.asc"
    state: absent

- name: "Remove service account file"
  ansible.builtin.file:
    path: "{{ install.tmp_dir | default(ansible_user_dir) }}/service_account.json"
    state: absent
