# =====  ANSIBLE  ============================================================
#          NAME:  tasks/deploy-files.yml
#   DESCRIPTION:  Primary entry point for this play
# =============================================================================
---
- name: Get GPG Private Key
  google.cloud.gcp_secret_manager:
    auth_kind: "serviceaccount"
    service_account_file: "{{ user_account.home_dir }}/.config/gcloud/service_account.json"
    project: "{{ gcp.projects.project_id }}"
    name: "gpg-key"
    state: present
    return_value: true
  register: "install_dotfiles_gpg_private_key_output"
  when:
    - user_account.gpg.generate_keys == "false"
    - user_account.gpg.fetch_keys == "true"
  notify:
    - save-gpg-key
    - import-gpg-key
    - cleanup-gpg-files
    - reload-key-agents
