# =====  ANSIBLE  ============================================================
#          NAME:  tasks/deploy-files.yml
#   DESCRIPTION:  Primary entry point for this play
# =============================================================================
---
- name: Get secret
  google.cloud.gcp_secret_manager:
    auth_kind: "accesstoken"
    access_token: "{{ secrets.GCP_ACCESS_TOKEN }}"
    project: "{{ gcp.projects.project_id }}"
    name: "ssh-key"
    state: present
    return_value: true
  register: "install_dotfiles_ssh_key_output"

- name: Print Print
  ansible.builtin.debug:
    msg: "{{ install_dotfiles_ssh_key_output }}"
