# =====  ANSIBLE  ============================================================
#          NAME:  tasks/deploy-files.yml
#   DESCRIPTION:  Primary entry point for this play
# =============================================================================
---
- name: "Create or update permissions on ${HOME}/.ssh"
  ansible.builtin.file:
    path: "{{ user_home_dir | default(ansible_user_dir) }}/.ssh"
    state: directory
    owner: "{{ ansible_user_id }}"
    group: "{{ ansible_user_gid }}"
    mode: "0700"

- name: "Save service account file (Google Cloud)"
  ansible.builtin.copy:
    content: "{{ secrets.google.GCP_SERVICE_ACCOUNT }}"
    dest: "{{ install.tmp_dir | default(ansible_user_dir) }}/service_account.json"
    owner: "{{ ansible_user_id }}"
    group: "{{ ansible_user_gid }}"
    mode: "0600"
  when:
    - secrets.google.GCP_SERVICE_ACCOUNT is defined
    - secrets.google.GCP_SERVICE_ACCOUNT | length > 0

- name: "Get SSH Private Key (Google Cloud)"
  google.cloud.gcp_secret_manager:
    auth_kind: "serviceaccount"
    service_account_file: "{{ install.tmp_dir | default(ansible_user_dir) }}/service_account.json"
    project: "{{ gcp.projects.project_id }}"
    name: "{{ gxp.secret_entries.ssh_key_id }}"
    state: present
    return_value: true
  register: "install_dotfiles_ssh_private_key_output"
  when:
    - gcp.projects.project_id is defined
    - gcp.projects.project_id | length > 0
    - gcp.secret_entries.ssh_key_id is defined
    - gcp.secret_entries.ssh_key_id | length > 0

- name: "Save fetched SSH private key file"
  ansible.builtin.copy:
    content: "{{ install_dotfiles_ssh_private_key_output.value }}"
    dest: "{{ user_account.home_dir | default(ansible_user_dir) }}/.ssh/id_{{ user_account.ssh.key_type }}"
    owner: "{{ ansible_user_id }}"
    group: "{{ ansible_user_gid }}"
    mode: "0600"
  notify: reload-key-agents

- name: "Remove service account file"
  ansible.builtin.file:
    path: "{{ install.tmp_dir | default(ansible_user_dir) }}/service_account.json"
    state: absent
