# =====  ANSIBLE  ============================================================
#          NAME:  tasks/deploy-files.yml
#   DESCRIPTION:  Primary entry point for this play
# =============================================================================
---
- name: "Get GPG Private Key (Google Cloud)"
  google.cloud.gcp_secret_manager:
    auth_kind: "serviceaccount"
    service_account_file: "/run/user/{{ ansible_user_uid }}/service_account.json"
    project: "{{ secrets.google.project_id }}"
    name: "{{ secrets.google.gpg_key_id }}"
    state: present
    return_value: true
  register: "install_dotfiles_gpg_private_key_output"
  when:
    - secrets.google.GCP_SERVICE_JSON | length > 0
    - secrets.google.project_id is defined
    - secrets.google.gpg_key_id is defined

- name: "Get GPG Private Key (Bitwarden Secrets)"
  vars:
    bw_ssh_key: "{{ lookup('bitwarden.secrets.lookup', secrets.bitwarden.gpg_key_id, access_token=secrets.bitwarden.BW_ACCESS_TOKEN) }}"
  ansible.builtin.debug:
    msg: "Fetching key from Bitwarden..."
  no_log: true
  register: "install_dotfiles_gpg_private_key_output"
  when:
    - secrets.bitwarden.BW_ACCESS_TOKEN | length > 0
    - secrets.bitwarden.gpg_key_id is defined

- name: "Save fetched GPG private key file"
  ansible.builtin.copy:
    content: "{{ install_dotfiles_gpg_private_key_output.value }}"
    dest: "{{ user_account.home_dir | default(ansible_user_dir) }}/.gnupg/privkey.asc"
    owner: "{{ ansible_user_id }}"
    group: "{{ ansible_user_gid }}"
    mode: "0600"

- name: "Import fetched GPG private key"
  ansible.builtin.command:
    argv:
      - "gpg"
      - "--batch"
      - "--passphrase"
      - "{{ user_account.gpg.passphrase }}"
      - "--pinentry-mode loopback"
      - "--import"
      - "{{ user_account.home_dir | default(ansible_user_dir) }}/.gnupg/privkey.asc"
    creates: "{{ user_account.home_dir | default(ansible_user_dir) }}/.gnupg/private-keys-v1.d/*.key"
