# =====  ANSIBLE  ============================================================
#          NAME:  tasks/deploy-files.yml
#   DESCRIPTION:  Primary entry point for this play
# =============================================================================
---
- name: "Create or update permissions on ${HOME}/.ssh"
  ansible.builtin.file:
    path: "{{ user_home_dir | default(ansible_user_dir) }}/.ssh"
    state: directory
    owner: "{{ ansible_user_id }}"
    group: "{{ ansible_user_gid }}"
    mode: "0700"

- name: "Check for existing SSH keys"
  ansible.builtin.stat:
    path: "{{ user_account.home_dir | default(ansible_user_dir) }}/.ssh/id_{{ user_account.ssh.key_type }}"
  register: "install_dotfiles_key_exists"

- name: "Save service account file (Google Cloud)"
  ansible.builtin.copy:
    content: "{{ secrets.google.GCP_SERVICE_ACCOUNT }}"
    dest: "{{ install.tmp_dir | default(ansible_user_dir) }}/service_account.json"
    owner: "{{ ansible_user_id }}"
    group: "{{ ansible_user_gid }}"
    mode: "0600"
  when:
    - user_account.ssh.fetch_keys is true
    - secrets.google.GCP_SERVICE_ACCOUNT is defined
    - secrets.google.GCP_SERVICE_ACCOUNT | length > 0

- name: "Create SSH private key (if provided)"
  ansible.builtin.copy:
    content: "{{ user_account.ssh.ssh_key }}"
    dest: "{{ user_account.home_dir | default(ansible_user_dir) }}/.ssh/id_{{ user_account.ssh.key_type }}"
    owner: "{{ ansible_user_id }}"
    group: "{{ ansible_user_gid }}"
    mode: "0600"
  when:
    - install_dotfiles_ssh_keys_files_found.files | count == 0
    - user_account.ssh.generate_keys is false
    - user_account.ssh.fetch_keys is false
    - user_account.ssh.key | length > 0

- name: "Create SSH key pair (if enabled, with passphrase)"
  community.crypto.openssh_keypair:
    path: "{{ user_account.home_dir | default(ansible_user_dir) }}/.ssh/id_{{ user_account.ssh.key_type }}"
    type: "{{ user_account.ssh.key_type }}"
    comment: ""
    owner: "{{ ansible_user_id }}"
    group: "{{ ansible_user_gid }}"
    mode: "0600"
    passphrase: "{{ user_account.ssh.passphrase }}"
  when:
    - user_account.ssh.fetch_keys is false
    - user_account.ssh.passphrase is defined
    - not install_dotfiles_key_exists.stat.exists
  notify: reload-key-agents

- name: "Create SSH key pair (if enabled, no passphrase)"
  community.crypto.openssh_keypair:
    path: "{{ user_account.home_dir | default(ansible_user_dir) }}/.ssh/id_{{ user_account.ssh.key_type }}"
    type: "{{ user_account.ssh.key_type }}"
    comment: ""
    owner: "{{ ansible_user_id }}"
    group: "{{ ansible_user_gid }}"
    mode: "0600"
  when:
    - user_account.ssh.fetch_keys is false
    - user_account.ssh.passphrase is undefined
    - not install_dotfiles_key_exists.stat.exists
  notify: reload-key-agents

- name: "Get SSH Private Key (Google Cloud)"
  google.cloud.gcp_secret_manager:
    auth_kind: "serviceaccount"
    service_account_file: "{{ install.tmp_dir | default(ansible_user_dir) }}/service_account.json"
    project: "{{ gcp.projects.project_id }}"
    name: "{{ gxp.secret_entries.ssh_key_id }}"
    state: present
    return_value: true
  register: "install_dotfiles_ssh_private_key_output"
  when:
    - user_account.ssh.fetch_keys is true
    - gcp.projects.project_id is defined
    - gcp.projects.project_id | length > 0
    - gcp.secret_entries.ssh_key_id is defined
    - gcp.secret_entries.ssh_key_id | length > 0

- name: "Save fetched SSH private key file"
  ansible.builtin.copy:
    content: "{{ install_dotfiles_ssh_private_key_output.value }}"
    dest: "{{ user_account.home_dir | default(ansible_user_dir) }}/.ssh/id_{{ user_account.ssh.key_type }}"
    owner: "{{ ansible_user_id }}"
    group: "{{ ansible_user_gid }}"
    mode: "0600"
  notify: reload-key-agents
  when:
    - user_account.ssh.fetch_keys is true

- name: "Remove service account file"
  ansible.builtin.file:
    path: "{{ install.tmp_dir | default(ansible_user_dir) }}/service_account.json"
    state: absent
  when:
    - user_account.ssh.fetch_keys is true
    - secrets.google.GCP_SERVICE_ACCOUNT is defined
    - secrets.google.GCP_SERVICE_ACCOUNT | length > 0
