# ====  ANSIBLE   =============================================================
#          NAME:  roles/common/tasks/main.yml
#   DESCRIPTION:  Main entry point for common tasks
# =============================================================================
---
- name: Main custom role running subtask(s)
  ansible.builtin.include_tasks:
    file: "{{ core_item }}"
  loop:
    - create-home-directories.yml
    - create-home-links.yml
    - create-ssh-links.yml
    - create-config-links.yml
  loop_control:
    loop_var: "core_item"

- name: Generate keys (if enabled)
  ansible.builtin.include_tasks:
    file: "{{ key_item }}"
  loop:
    - create-ssh-keys.yml
    - create-gpg-keys.yml
  loop_control:
    loop_var: "key_item"
  when:
    - generate_keys == "true"
