# ====  ANSIBLE   =============================================================
#          NAME:  roles/common/tasks/main.yml
#   DESCRIPTION:  Main entry point for common tasks
# =============================================================================
---
- name: Main custom role running subtask(s)
  ansible.builtin.include_tasks:
    file: "{{ item }}"
  loop:
    - checkout-dotfiles.yml
    - create-home-links.yml
    - create-ssh-links.yml
    - create-config-links.yml
