# ====  ANSIBLE   =============================================================
#          NAME:  roles/common/tasks/main.yml
#   DESCRIPTION:  Main entry point for common tasks
# =============================================================================
---
- name: "Main custom role running subtask(s)"
  ansible.builtin.include_tasks:
    file: "{{ core_item }}"
  loop:
    - "create-home-directories.yml"
    - "create-home-links.yml"
    - "create-config-links.yml"
    - "update-config-files.yml"
  loop_control:
    loop_var: "core_item"

- name: "Manage SSH keys (if enabled)"
  ansible.builtin.include_tasks:
    file: "handle-ssh-keys.yml"
  when:
    - user_account.ssh.enabled is true

- name: "Manage GPG keys (if enabled)"
  ansible.builtin.include_tasks:
    file: "handle-gpg-keys.yml"
  when:
    - user_account.gpg.enabled is true

- name: "Update configuration files post-installation"
  ansible.builtin.include_tasks:
    file: "update-config-files.yml"
