# ====  ANSIBLE   =============================================================
#          NAME:  roles/common/tasks/main.yml
#   DESCRIPTION:  Main entry point for common tasks
# =============================================================================
---
- name: Main custom role running subtask(s)
  ansible.builtin.include_tasks:
    file: "{{ core_item }}"
  loop:
    - create-home-directories.yml
    - create-home-links.yml
    - create-config-links.yml
  loop_control:
    loop_var: "core_item"

- name: Generate SSH keys (if enabled)
  ansible.builtin.include_tasks:
    file: "{{ ssh_key_item }}"
  loop:
    - create-ssh-keys.yml
  loop_control:
    loop_var: "ssh_key_item"
  when:
    - ssh.generate_keys is defined
    - ssh.generate_keys is true
    - ssh.fetch_keys is false

- name: Fetch SSH keys (if enabled)
  ansible.builtin.include_tasks:
    file: "{{ fetch_key_item }}"
  loop:
    - fetch-ssh-keys.yml
  loop_control:
    loop_var: "fetch_key_item"
  when:
    - ssh.generate_keys is defined
    - ssh.generate_keys is false
    - ssh.fetch_keys is true
    - secrets.GCP_ACCESS_TOKEN is defined
    - gcp.projects.project_id is defined

- name: Generate GPG keys (if enabled)
  ansible.builtin.include_tasks:
    file: "{{ gpg_key_item }}"
  loop:
    - create-gpg-keys.yml
  loop_control:
    loop_var: "gpg_key_item"
  when:
    - gpg.generate_keys is defined
    - gpg.generate_keys is true
    - gpg.fetch_keys is false

- name: Fetch GPG keys (if enabled)
  ansible.builtin.include_tasks:
    file: "{{ fetch_key_item }}"
  loop:
    - fetch-gpg-keys.yml
  loop_control:
    loop_var: "fetch_key_item"
  when:
    - gpg.generate_keys is defined
    - gpg.generate_keys is false
    - gpg.fetch_keys is true
    - secrets.GCP_ACCESS_TOKEN is defined
    - gcp.projects.project_id is defined
