---
services:
  openldap:
    image: osixia/openldap:stable
    pull_policy: missing
    restart: unless-stopped
    hostname: "ldap.svc.caspersbox.com"
    container_name: "openldap"
    networks:
      service-network:
        ipv4_address: 192.168.1.11
    ports:
      - 10389:389
      - 10636:636
    env_file:
      - path: ./.env
        required: true
    environment:
      LDAP_BASE_DN: "${LDAP_BASE_DN}"
      LDAP_ORGANISATION: "${LDAP_ORGANISATION}"
      LDAP_DOMAIN: "${LDAP_DOMAIN}"
      LDAP_ADMIN_PASSWORD_FILE: /run/secrets/openldap
      LDAP_TLS: "${LDAP_TLS}"
    secrets:
      - source: openldap
        target: /run/secrets/openldap
    volumes:
      - ldap-data:/var/lib/ldap:rw
      - ldap-config:/etc/ldap/slapd.d:rw

  phpldapadmin:
    depends_on:
      - openldap
    image: osixia/phpldapadmin:stable
    pull_policy: missing
    restart: unless-stopped
    hostname: "ldapadm.svc.caspersbox.com"
    container_name: "phpldapadmin"
    networks:
      service-network:
        ipv4_address: 192.168.1.12
    ports:
      - 9081:80
    environment:
      PHPLDAPADMIN_LDAP_HOSTS: openldap
      PHPLDAPADMIN_HTTPS: "false"

---
volumes:
  ldap-data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: "/opt/openldap/data"

  ldap-config:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: "/opt/openldap/config"

---
networks:
  service-network:
    external: true

---
secrets:
  openldap:
    file: "~/workspace/openldap/openldap.txt"
