# ====  ANSIBLE   =============================================================
#          NAME:  roles/common/tasks/main.yml
#   DESCRIPTION:  Main entry point for common tasks
# =============================================================================
---
- name: "Check for existing Python virtual environment"
  ansible.builtin.stat:
    path: "{{ user_account.home_dir | default(ansible_user_dir) }}/workspace/python/venv"
  register: "common_check_venv"

- name: "Create directory structure for virtual environment"
  ansible.builtin.file:
    path: "{{ user_account.home_dir | default(ansible_user_dir) }}/workspace/python/venv"
    state: directory
    owner: "{{ ansible_user_id }}"
    group: "{{ ansible_user_gid }}"
    mode: "0755"
  when:
    - not common_check_venv.stat.exists

- name: "Create Python virtual environment"
  ansible.builtin.command:
    cmd: "python -m venv {{ user_account.home_dir | default(ansible_user_dir) }}/workspace/python/venv"
  when:
    - not common_check_venv.stat.exists
  changed_when: true
  notify: activate-python-venv
