# =====  ANSIBLE  ============================================================
#          NAME:  tasks/main.yml
#   DESCRIPTION:  Primary entry point for this play
# =============================================================================
---
- name: "Install common packages via pip"
  ansible.builtin.pip:
    name: "requests"

- name: "Install bcrypt via pip"
  ansible.builtin.pip:
    name: "bcrypt"
  when:
    - user_account.ssh.passphrase is defined
    - user_account.ssh.passphrase | length > 0

- name: "Install google-auth via pip"
  ansible.builtin.pip:
    name: "google-auth"
  when:
    - secrets.google.GCP_SERVICE_ACCOUNT is defined
    - secrets.google.GCP_SERVICE_ACCOUNT | length > 0

- name: "Install bitwarden SDK via pip"
  ansible.builtin.pip:
    name: "bitwarden-sdk"
  when:
    - secrets.bitwarden.BW_ACCESS_TOKEN is defined
    - secrets.bitwarden.BW_ACCESS_TOKEN | length > 0
