# =====  ANSIBLE  ============================================================
#          NAME:  roles/common/tasks/install-pip-items.yml
#   DESCRIPTION:  Primary entry point for this play
# =============================================================================
---
- name: "Install common packages via pip"
  ansible.builtin.pip:
    name: "{{ install_item }}"
  loop:
    - "{{ install.pip.base_packages }}"
  loop_control:
    loop_var: "install_item"
  when: install_base_packages is true

- name: "Install extra packages via pip"
  ansible.builtin.pip:
    name: "{{ install_extra }}"
  loop:
    - "{{ install.pip.extra_packages }}"
  loop_control:
    loop_var: "install_extra"
  when: install_extra_packages is true
