# =====  ANSIBLE  ============================================================
#          NAME:  tasks/main.yml
#   DESCRIPTION:  Primary entry point for this play
# =============================================================================
---
- name: Install bcrypt via pip
  ansible.builtin.pip:
    name: bcrypt
  when:
    - user_account.ssh_passphrase is defined
