# ====  ANSIBLE   =============================================================
#          NAME:  roles/common/tasks/main.yml
#   DESCRIPTION:  Main entry point for common tasks
# =============================================================================
---
- name: Main common role running subtask(s)
  ansible.builtin.include_tasks:
    file: "{{ common_item }}"
  loop:
    - install-pip-items.yml
  loop_control:
    loop_var: "common_item"
