# ====  ANSIBLE   =============================================================
#          NAME:  inventory/hosts.yml
#   DESCRIPTION:  Common variables that apply to this play
# =============================================================================
---
all:
  hosts:
    localhost:
