#==============================================================================
#
#          FILE:  git-update.timer
#         USAGE:  Install unit file using appropriate systemctl syntax.
#     ARGUMENTS:  None
#   DESCRIPTION:  systemd service to run git update periodically
#
#       OPTIONS:  ---
#  REQUIREMENTS:  ---
#          BUGS:  ---
#         NOTES:  ---
#        AUTHOR:  Kevin Huntly <kmhuntly@gmail.com>
#       COMPANY:  ---
#       VERSION:  1.0
#       CREATED:  ---
#      REVISION:  ---
#==============================================================================
[Unit]
Description=git update for specific repos
PartOf=git-update@%i.target
ReloadPropagatedFrom=git-update@%i.target
Wants=git-update@%i.target
BindsTo=git-update@%i.service

[Timer]
OnBootSec=1m
OnCalendar=hourly
Persistent=true
Unit=git-update@%i.service

[Install]
WantedBy=git-update@%i.target
