#==============================================================================
#
#          FILE:  git-update.target
#         USAGE:  Install unit file using appropriate systemctl syntax.
#     ARGUMENTS:  None
#   DESCRIPTION:  systemd service to run git update periodically
#
#       OPTIONS:  ---
#  REQUIREMENTS:  ---
#          BUGS:  ---
#         NOTES:  ---
#        AUTHOR:  Kevin Huntly <kmhuntly@gmail.com>
#       COMPANY:  ---
#       VERSION:  1.0
#       CREATED:  ---
#      REVISION:  ---
#==============================================================================
[Unit]
Description=git update for specific repos
After=network-online.target
After=default.target
Wants=git-update@%i.timer
BindsTo=git-update@%i.timer

[Install]
WantedBy=default.target
Also=git-update@%i.timer
