#==============================================================================
#
#          FILE:  git-update.service
#         USAGE:  Install unit file using appropriate systemctl syntax.
#     ARGUMENTS:  None
#   DESCRIPTION:  systemd service to run git update periodically
#
#       OPTIONS:  ---
#  REQUIREMENTS:  ---
#          BUGS:  ---
#         NOTES:  ---
#        AUTHOR:  Kevin Huntly <kmhuntly@gmail.com>
#       COMPANY:  ---
#       VERSION:  1.0
#       CREATED:  ---
#      REVISION:  ---
#==============================================================================
[Unit]
Description=git update for specific repos
PartOf=git-update@%i.target
ReloadPropagatedFrom=git-update@%i.target
ConditionPathExists=%h/workspace/%i

[Service]
Type=oneshot
ExecStart=/bin/git -C %h/workspace/%i fetch origin
ExecStart=/bin/git -C %h/workspace/%i reset --hard origin/master
ExecStart=/bin/git -C %h/workspace/%i pull
SuccessExitStatus=0

[Install]
WantedBy=git-update@%i.target
