#==============================================================================
#
#          FILE:  tmux.service
#         USAGE:  systemctl --user enable tmux.service;
#                 systemctl --user start tmux.service
#   DESCRIPTION:  Loads the tmux systemd service
#
#       OPTIONS:  ---
#  REQUIREMENTS:  ---
#          BUGS:  ---
#         NOTES:  ---
#        AUTHOR:  Kevin Huntly <kmhuntly@gmail.com>
#       COMPANY:  ---
#       VERSION:  1.0
#       CREATED:  ---
#      REVISION:  ---
#
#==============================================================================
[Unit]
Description=Run docker compose for Kafka
PartOf=docker.target
ReloadPropagatedFrom=docker.target
ConditionPathExists=/opt/Apache/kafka
ConditionPathExists=%h/workspace/kafka/kafka.txt

[Service]
Type=oneshot
ExecStart=docker compose -f %h/.dotfiles/config/docker/kafka/kafka.yml up -d
ExecStop=docker compose -f %h/.dotfiles/config/docker/kafka/kafka.yml down
RemainAfterExit=yes

[Install]
WantedBy=docker.target
