#==============================================================================
#
#          FILE:  reflector.service
#         USAGE:  systemctl --user enable reflector.service;
#                 systemctl --user start reflector.service
#   DESCRIPTION:  Loads the reflector systemd service
#
#       OPTIONS:  ---
#  REQUIREMENTS:  ---
#          BUGS:  ---
#         NOTES:  ---
#        AUTHOR:  Kevin Huntly <kmhuntly@gmail.com>
#       COMPANY:  ---
#       VERSION:  1.0
#       CREATED:  ---
#      REVISION:  ---
#
#==============================================================================

[Unit]
Description=Pacman mirrorlist update

[Service]
Type=oneshot
ExecStart=/bin/sudo /bin/reflector --protocol http --latest 30 --number 20 --sort rate --save /etc/pacman.d/mirrorlist

[Install]
RequiredBy=multi-user.target
