#==============================================================================
#
#          FILE:  gpg-agent.service
#         USAGE:  systemctl --user enable gpg-agent.service;
#                 systemctl --user start gpg-agent.service
#   DESCRIPTION:  Loads the gpg-agent systemd service
#
#       OPTIONS:  ---
#  REQUIREMENTS:  ---
#          BUGS:  ---
#         NOTES:  ---
#        AUTHOR:  Kevin Huntly <kmhuntly@gmail.com>
#       COMPANY:  ---
#       VERSION:  1.0
#       CREATED:  ---
#      REVISION:  ---
#
#==============================================================================
[Unit]
Description=SSH private key agent
IgnoreOnIsolate=true

[Service]
Type=simple
Environment=SSH_AUTH_SOCK=%t/ssh-agent.socket
ExecStart=ssh-agent -D -a $SSH_AUTH_SOCK
ExecStart=ssh-agent
ExecStop=ssh-agent -k
Restart=on-abort

[Install]
WantedBy=default.target
