---
services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.9.1
    pull_policy: missing
    restart: unless-stopped
    hostname: zookeeper
    container_name: zookeeper
    networks:
      service-network:
        ipv4_address: 192.168.1.40
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    volumes:
      - zookeeper-data:/var/lib/zookeeper/data:rw
      - zookeeper-logs:/var/lib/zookeeper/log:rw

  broker01:
    depends_on:
      - zookeeper
    image: confluentinc/cp-kafka:7.9.1
    pull_policy: missing
    restart: unless-stopped
    hostname: broker01
    container_name: broker01
    networks:
      service-network:
        ipv4_address: 192.168.1.41
    ports:
      - 9091:9091
    environment:
      CLUSTER_ID: "fzR8_urgTSCZgFdIBSwJOg"
      KAFKA_NODE_ID: 1001
      KAFKA_CLUSTER_ID: "fzR8_urgTSCZgFdIBSwJOg"
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: "CONTROLLER:PLAINTEXT,INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT"
      KAFKA_ADVERTISED_LISTENERS: "EXTERNAL://localhost:9091,INTERNAL://broker01:29091"
      KAFKA_LISTENERS: "EXTERNAL://:9091,INTERNAL://:29091,CONTROLLER://:39091"
      KAFKA_INTER_BROKER_LISTENER_NAME: "INTERNAL"
      KAFKA_CONTROLLER_LISTENER_NAMES: "CONTROLLER"
      KAFKA_CFG_PROCESS_ROLES: "broker,controller"
      KAFKA_CFG_CONTROLLER_QUORUM_VOTERS: "1001@broker1:39091,1002@broker02:39092,1003@broker03:39093"
      KAFKA_CFG_LOG_DIRS: "/var/lib/kafka/data"
      KAFKA_CFG_OFFSETS_TOPIC_REPLICATION_FACTOR: 3
      KAFKA_CFG_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 3
      KAFKA_CFG_TRANSACTION_STATE_LOG_MIN_ISR: 2
      KAFKA_LOG_DIRS: /var/lib/kafka/data
      KAFKA_REST_CONTENT_TYPE: "application/json"
    volumes:
      - broker01-data:/var/lib/kafka/data:rw
      - broker01-logs:/var/log/kafka:rw
      
  broker02:
    depends_on:
      - zookeeper
      - broker01
    image: confluentinc/cp-kafka:7.9.1
    pull_policy: missing
    restart: unless-stopped
    hostname: broker02
    container_name: broker02
    networks:
      service-network:
        ipv4_address: 192.168.1.42
    ports:
      - 9092:9092
    environment:
      CLUSTER_ID: "fzR8_urgTSCZgFdIBSwJOg"
      KAFKA_NODE_ID: 1002
      KAFKA_CLUSTER_ID: "fzR8_urgTSCZgFdIBSwJOg"
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: "CONTROLLER:PLAINTEXT,INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT"
      KAFKA_ADVERTISED_LISTENERS: "EXTERNAL://localhost:9092,INTERNAL://broker02:29092"
      KAFKA_LISTENERS: "EXTERNAL://:9092,INTERNAL://:29092,CONTROLLER://:39092"
      KAFKA_INTER_BROKER_LISTENER_NAME: "INTERNAL"
      KAFKA_CONTROLLER_LISTENER_NAMES: "CONTROLLER"
      KAFKA_CFG_PROCESS_ROLES: "broker,controller"
      KAFKA_CFG_CONTROLLER_QUORUM_VOTERS: "1001@broker1:39091,1002@broker02:39092,1003@broker03:39093"
      KAFKA_CFG_LOG_DIRS: "/var/lib/kafka/data"
      KAFKA_CFG_OFFSETS_TOPIC_REPLICATION_FACTOR: 3
      KAFKA_CFG_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 3
      KAFKA_CFG_TRANSACTION_STATE_LOG_MIN_ISR: 2
      KAFKA_LOG_DIRS: /var/lib/kafka/data
      KAFKA_REST_CONTENT_TYPE: "application/json"
    volumes:
      - broker02-data:/var/lib/kafka/data:rw
      - broker02-logs:/var/log/kafka:rw

  broker03:
    depends_on:
      - zookeeper
      - broker01
      - broker02
    image: confluentinc/cp-kafka:7.9.1
    pull_policy: missing
    restart: unless-stopped
    hostname: broker03
    container_name: broker03
    networks:
      service-network:
        ipv4_address: 192.168.1.43
    ports:
      - 9093:9093
    environment:
      CLUSTER_ID: "fzR8_urgTSCZgFdIBSwJOg"
      KAFKA_NODE_ID: 1003
      KAFKA_CLUSTER_ID: "fzR8_urgTSCZgFdIBSwJOg"
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: "CONTROLLER:PLAINTEXT,INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT"
      KAFKA_ADVERTISED_LISTENERS: "EXTERNAL://localhost:9093,INTERNAL://broker01:29093"
      KAFKA_LISTENERS: "EXTERNAL://:9093,INTERNAL://:29093,CONTROLLER://:39093"
      KAFKA_INTER_BROKER_LISTENER_NAME: "INTERNAL"
      KAFKA_CONTROLLER_LISTENER_NAMES: "CONTROLLER"
      KAFKA_CFG_PROCESS_ROLES: "broker,controller"
      KAFKA_CFG_CONTROLLER_QUORUM_VOTERS: "1001@broker1:39091,1002@broker02:39092,1003@broker03:39093"
      KAFKA_CFG_LOG_DIRS: "/var/lib/kafka/data"
      KAFKA_CFG_OFFSETS_TOPIC_REPLICATION_FACTOR: 3
      KAFKA_CFG_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 3
      KAFKA_CFG_TRANSACTION_STATE_LOG_MIN_ISR: 2
      KAFKA_LOG_DIRS: /var/lib/kafka/data
      KAFKA_REST_CONTENT_TYPE: "application/json"
    volumes:
      - broker03-data:/var/lib/kafka/data:rw
      - broker03-logs:/var/log/kafka:rw

  akhq:
    depends_on:
      - zookeeper
      - broker01
      - broker02
      - broker03
    image: tchiotludo/akhq:latest
    pull_policy: missing
    restart: unless-stopped
    hostname: akhq
    container_name: akhq
    networks:
      service-network:
        ipv4_address: 192.168.1.44
    ports:
      - 8080:8080
    environment:
      AKHQ_CONFIGURATION: |
        akhq:
          connections:
            docker-kafka-servers:
              properties:
                bootstrap.servers: "broker01:29091,broker02:29092,broker03:29093"

---
volumes:
  zookeeper-data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: "/opt/confluent/zookeeper/data"

  zookeeper-logs:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: "/opt/confluent/zookeeper/log"

  broker01-data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: "/opt/confluent/kafka/broker01/data"

  broker01-logs:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: "/opt/confluent/kafka/broker01/log"

  broker02-data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: "/opt/confluent/kafka/broker02/data"

  broker02-logs:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: "/opt/confluent/kafka/broker02/log"

  broker03-data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: "/opt/confluent/kafka/broker03/data"

  broker03-logs:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: "/opt/confluent/kafka/broker03/log"

---
networks:
  service-network:
    external: true
