---
services:
  broker01:
    image: confluentinc/cp-kafka:7.9.1
    pull_policy: missing
    restart: unless-stopped
    hostname: broker01
    container_name: broker01
    networks:
      service-network:
        ipv4_address: 192.168.1.41
    ports:
      - 9091:9091
    environment:
      CLUSTER_ID: "fzR8_urgTSCZgFdIBSwJOg"
      KAFKA_NODE_ID: 1001
      KAFKA_BROKER_ID: 1001
      KAFKA_CLUSTER_ID: "fzR8_urgTSCZgFdIBSwJOg"
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: "CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT"
      KAFKA_LISTENERS: "PLAINTEXT://:9091,CONTROLLER://:29091"
      KAFKA_ADVERTISED_LISTENERS: "PLAINTEXT://:9091"
      KAFKA_INTER_BROKER_LISTENER_NAME: "PLAINTEXT"
      KAFKA_CONTROLLER_LISTENER_NAMES: "CONTROLLER"
      KAFKA_PROCESS_ROLES: "broker,controller"
      KAFKA_CONTROLLER_QUORUM_VOTERS: "1001@broker01:29091,1002@broker02:29092,1003@broker03:29093"
      KAFKA_LOG_DIRS: "/var/lib/kafka/data"
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 3
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 3
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 2
      KAFKA_REST_CONTENT_TYPE: "application/json"
    volumes:
      - broker01-data:/var/lib/kafka/data:rw
      - broker01-logs:/var/log/kafka:rw
      
  broker02:
    depends_on:
      - broker01
    image: confluentinc/cp-kafka:7.9.1
    pull_policy: missing
    restart: unless-stopped
    hostname: broker02
    container_name: broker02
    networks:
      service-network:
        ipv4_address: 192.168.1.42
    ports:
      - 9092:9092
    environment:
      CLUSTER_ID: "fzR8_urgTSCZgFdIBSwJOg"
      KAFKA_NODE_ID: 1002
      KAFKA_BROKER_ID: 1002
      KAFKA_CLUSTER_ID: "fzR8_urgTSCZgFdIBSwJOg"
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: "CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT"
      KAFKA_LISTENERS: "PLAINTEXT://:9092,CONTROLLER://:29092"
      KAFKA_ADVERTISED_LISTENERS: "PLAINTEXT://:9092"
      KAFKA_INTER_BROKER_LISTENER_NAME: "PLAINTEXT"
      KAFKA_CONTROLLER_LISTENER_NAMES: "CONTROLLER"
      KAFKA_PROCESS_ROLES: "broker"
      KAFKA_CONTROLLER_QUORUM_VOTERS: "1001@broker01:29091,1002@broker02:29092,1003@broker03:29093"
      KAFKA_LOG_DIRS: "/var/lib/kafka/data"
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 3
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 3
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 2
      KAFKA_REST_CONTENT_TYPE: "application/json"
    volumes:
      - broker02-data:/var/lib/kafka/data:rw
      - broker02-logs:/var/log/kafka:rw

  broker03:
    depends_on:
      - broker01
      - broker02
    image: confluentinc/cp-kafka:7.9.1
    pull_policy: missing
    restart: unless-stopped
    hostname: broker03
    container_name: broker03
    networks:
      service-network:
        ipv4_address: 192.168.1.43
    ports:
      - 9093:9093
    environment:
      CLUSTER_ID: "fzR8_urgTSCZgFdIBSwJOg"
      KAFKA_NODE_ID: 1003
      KAFKA_BROKER_ID: 1003
      KAFKA_CLUSTER_ID: "fzR8_urgTSCZgFdIBSwJOg"
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: "CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT"
      KAFKA_LISTENERS: "PLAINTEXT://:9093,CONTROLLER://:29093"
      KAFKA_ADVERTISED_LISTENERS: "PLAINTEXT://:9093"
      KAFKA_INTER_BROKER_LISTENER_NAME: "PLAINTEXT"
      KAFKA_CONTROLLER_LISTENER_NAMES: "CONTROLLER"
      KAFKA_PROCESS_ROLES: "broker"
      KAFKA_CONTROLLER_QUORUM_VOTERS: "1001@broker01:29091,1002@broker02:29092,1003@broker03:29093"
      KAFKA_LOG_DIRS: "/var/lib/kafka/data"
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 3
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 3
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 2
      KAFKA_REST_CONTENT_TYPE: "application/json"
    volumes:
      - broker03-data:/var/lib/kafka/data:rw
      - broker03-logs:/var/log/kafka:rw

  akhq:
    depends_on:
      - broker01
      - broker02
      - broker03
    image: tchiotludo/akhq:latest
    pull_policy: missing
    restart: unless-stopped
    hostname: akhq
    container_name: akhq
    networks:
      service-network:
        ipv4_address: 192.168.1.44
    ports:
      - 8080:8080
    environment:
      AKHQ_CONFIGURATION: |
        akhq:
          connections:
            docker-kafka-servers:
              properties:
                bootstrap.servers: "broker01:9091,broker02:9092,broker03:9093"

---
volumes:
  zookeeper-data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: "/opt/confluent/zookeeper/data"

  zookeeper-logs:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: "/opt/confluent/zookeeper/log"

  broker01-data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: "/opt/confluent/kafka/broker01/data"

  broker01-logs:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: "/opt/confluent/kafka/broker01/log"

  broker02-data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: "/opt/confluent/kafka/broker02/data"

  broker02-logs:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: "/opt/confluent/kafka/broker02/log"

  broker03-data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: "/opt/confluent/kafka/broker03/data"

  broker03-logs:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: "/opt/confluent/kafka/broker03/log"

---
networks:
  service-network:
    external: true
