# =====  ANSIBLE  ============================================================
#          NAME:  roles/dotfiles/tasks/create-home-directories.yml
#   DESCRIPTION:  Primary entry point for this play
# ============================================================================
---
- name: "Create directories if they do not exist"
  ansible.builtin.file:
    path: "{{ ansible_user_dir }}/{{ add_home_item }}"
    state: "directory"
    owner: "{{ ansible_user_id }}"
    group: "{{ ansible_user_gid }}"
    mode: "0755"
  loop:
    - "log"
    - "log/archive"
    - "workspace"
    - "workspace/ansible"
    - "workspace/ansible/vault"
    - "workspace/ansible/inventory"
    - "workspace/ansible/roles"
    - "workspace/openssl"
    - "workspace/openssl/conf"
    - "workspace/openssl/certs"
    - "workspace/openssl/csr"
    - "workspace/openssl/keystore"
    - "workspace/openssl/private"
    - ".config"
  loop_control:
    loop_var: "add_home_item"
  failed_when: false
