# =====  ANSIBLE  ============================================================
#          NAME:  roles/dotfiles/tasks/create-home-links.yml
#   DESCRIPTION:  Primary entry point for this play
# ============================================================================
---
- name: "Remove any existing dotfiles in home"
  ansible.builtin.file:
    path: "{{ ansible_user_dir }}/.{{ rm_dotfiles_item }}"
    state: absent
  loop:
    - "bash_profile"
    - "bash_logout"
    - "bashrc"
    - "netrc"
    - "digrc"
    - "mailrc"
    - "inputrc"
    - "odbc.ini"
    - "vim"
    - "wgetrc"
    - "gnupg"
  loop_control:
    loop_var: "rm_dotfiles_item"

- name: "Remove existing Ansible configuration file"
  ansible.builtin.file:
    path: "{{ ansible_user_dir }}/ansible.cfg"
    state: "absent"

- name: "Remove any existing bin/lib directories in home"
  ansible.builtin.file:
    path: "{{ ansible_user_dir }}/{{ rm_home_item }}"
    state: absent
  loop:
    - "bin"
    - "lib"
  loop_control:
    loop_var: "rm_home_item"

- name: "Create dotfiles links in home directory"
  ansible.builtin.file:
    src: "{{ install.base_path }}/{{ ln_dotfiles_item }}"
    dest: "{{ ansible_user_dir }}/.{{ ln_dotfiles_item }}"
    state: "link"
    owner: "{{ ansible_user_id }}"
    group: "{{ ansible_user_gid }}"
  loop:
    - "bash_profile"
    - "bash_logout"
    - "bashrc"
  loop_control:
    loop_var: "ln_dotfiles_item"

- name: "Create dotfiles in home directory"
  ansible.builtin.file:
    src: "{{ install.base_path }}/config/{{ ln_system_item }}"
    dest: "{{ ansible_user_dir }}/.{{ ln_system_item }}"
    state: "link"
    owner: "{{ ansible_user_id }}"
    group: "{{ ansible_user_gid }}"
  loop:
    - "curlrc"
    - "digrc"
    - "gnupg"
    - "inputrc"
    - "ldaprc"
    - "mailrc"
    - "netrc"
    - "odbc.ini"
    - "vim"
    - "wgetrc"
  loop_control:
    loop_var: "ln_system_item"

- name: "Create links for bin and lib"
  ansible.builtin.file:
    src: "{{ install.base_path }}/{{ add_home_item }}"
    dest: "{{ ansible_user_dir }}/{{ add_home_item }}"
    state: "link"
    owner: "{{ ansible_user_id }}"
    group: "{{ ansible_user_gid }}"
  loop:
    - "bin"
    - "lib"
  loop_control:
    loop_var: "add_home_item"

- name: "Create link for Ansible"
  ansible.builtin.file:
    src: "{{ install.base_path }}/config/ansible/ansible.cfg"
    dest: "{{ ansible_user_dir }}/ansible.cfg"
    state: "link"
    owner: "{{ ansible_user_id }}"
    group: "{{ ansible_user_gid }}"
