# =====  ANSIBLE  ============================================================
#          NAME:  tasks/deploy-files.yml
#   DESCRIPTION:  Primary entry point for this play
# =============================================================================
---
- name: "Create symbolic link for GnuPG"
  ansible.builtin.file:
    src: "{{ install.base_path }}/dotfiles/gnupg"
    dest: "{{ user_home_dir | default(ansible_user_dir) }}/.gnupg
    state: link
    owner: "{{ ansible_user_id }}"
    group: "{{ ansible_user_gid }}"
    mode: "0700"

- name: "Create private keys directory"
  ansible.builtin.file:
    path: "{{ user_home_dir | default(ansible_user_dir) }}/.gnupg/private-keys-v1.d/"
    state: directory
    owner: "{{ ansible_user_id }}"
    group: "{{ ansible_user_gid }}"
    mode: "0700"

- name: "Search for existing private keys"
  ansible.builtin.find:
    paths: "{{ user_account.home_dir | default(ansible_user_dir) }}/.gnupg/private-keys-v1.d/"
    patterns: "*.key"
    file_type: "file"
    recurse: false
  register: "dotfiles_gpg_keys_files_found"

- name: "Create GPG private key (if provided)"
  ansible.builtin.copy:
    content: "{{ user_account.gpg.gpg_key }}"
    dest: "{{ install.tmpdir | default(ansible_user_dir) }}/privkey.asc"
    owner: "{{ ansible_user_id }}"
    group: "{{ ansible_user_gid }}"
    mode: "0600"
  when:
    - dotfiles_gpg_keys_files_found.files | count == 0
    - user_account.gpg.generate_keys is false
    - user_account.gpg.fetch_keys is false
    - user_account.gpg.key | length > 0

- name: "Save service account file (Google Cloud)"
  ansible.builtin.copy:
    content: "{{ secrets.google.GCP_SERVICE_ACCOUNT }}"
    dest: "{{ install.tmp_dir | default(ansible_user_dir) }}/service_account.json"
    owner: "{{ ansible_user_id }}"
    group: "{{ ansible_user_gid }}"
    mode: "0600"
  when:
    - secrets.google.GCP_SERVICE_ACCOUNT is defined
    - secrets.google.GCP_SERVICE_ACCOUNT | length > 0
    - user_account.gpg.fetch_keys is true

- name: "Get GPG Private Key (Google Cloud)"
  google.cloud.gcp_secret_manager:
    auth_kind: "serviceaccount"
    service_account_file: "{{ install.tmp_dir | default(ansible_user_dir) }}/service_account.json"
    project: "{{ gcp.projects.project_id }}"
    name: "{{ gcp.secret_entries.gpg_key_id }}"
    state: present
    return_value: true
  register: "dotfiles_gpg_private_key_output"
  when:
    - dotfiles_gpg_keys_files_found.files | count == 0
    - user_account.gpg.fetch_keys is true
    - gcp.projects.project_id is defined
    - gcp.projects.project_id | length > 0
    - gcp.secret_entries.gpg_key_id is defined
    - gcp.secret_entries.gpg_key_id | length > 0

- name: "Save fetched GPG private key file"
  ansible.builtin.copy:
    content: "{{ dotfiles_gpg_private_key_output.value }}"
    dest: "{{ install.tmp_dir | default(ansible_user_dir) }}/privkey.asc"
    owner: "{{ ansible_user_id }}"
    group: "{{ ansible_user_gid }}"
    mode: "0600"
  when:
    - user_account.gpg.fetch_keys is true
    - dotfiles_gpg_keys_files_found.files | count == 0
    - dotfiles_gpg_private_key_output.value | length > 0

- name: "Define GPG batch configuration file content"
  ansible.builtin.template:
    src: "templates/config/gnupg/config.j2"
    dest: "{{ install.tmp_dir | default(ansible_user_dir) }}/input.txt"
    owner: "{{ ansible_user_id }}"
    group: "{{ ansible_user_gid }}"
    mode: "0600"
  when:
    - dotfiles_gpg_keys_files_found.files | count == 0
    - user_account.gpg.generate_keys is true
    - user_account.gpg.fetch_keys is false
    - user_account.gpg.key_type is defined
    - user_account.gpg.key_length is defined
    - user_account.name is defined
    - user_account.email is defined
    - user_account.gpg.expiry is defined
    - user_account.gpg.passphrase is defined

- name: "Generate the GPG key pair using batch mode"
  ansible.builtin.command:
    cmd: "gpg --batch --gen-key {{ install.tmp_dir | default(ansible_user_dir) }}/input.txt"
    creates: "{{ user_account.home_dir | default(ansible_user_dir) }}/.gnupg/trustdb.gpg"
  when:
    - dotfiles_gpg_keys_files_found.files | count == 0
    - user_account.gpg.generate_keys is true
    - user_account.gpg.fetch_keys is false
    - user_account.gpg.key_type is defined
    - user_account.gpg.key_length is defined
    - user_account.name is defined
    - user_account.email is defined
    - user_account.gpg.expiry is defined
    - user_account.gpg.passphrase is defined

- name: "Import fetched GPG private key"
  ansible.builtin.command:
    argv:
      - "gpg"
      - "--batch"
      - "--passphrase"
      - "{{ user_account.gpg.passphrase }}"
      - "--import"
      - "{{ install.tmp_dir | default(ansible_user_dir) }}/privkey.asc"
    creates: "{{ user_account.home_dir | default(ansible_user_dir) }}/.gnupg/private-keys-v1.d/*.key"
  when:
    - user_account.gpg.fetch_keys is true
    - user_account.gpg.generate_keys is false
    - dotfiles_gpg_keys_files_found.files | count == 0
    - user_account.gpg.passphrase is defined
    - user_account.gpg.passphrase | length > 0

- name: "Capture the key ID"
  ansible.builtin.command:
    cmd: "{{ role_path }}/files/scripts/get_gpg_key.sh"
  changed_when: false
  register: dotfiles_get_gpg_key
  when:
    - user_account.gpg.generate_keys is true
    - user_account.gpg.fetch_keys is false

- name: "Remove temporary GPG files"
  ansible.builtin.file:
    path: "{{ rm_gpg_temp_item }}"
    state: absent
  loop:
    - "{{ install.tmp_dir | default(ansible_user_dir) }}/privkey.asc"
    - "{{ install.tmp_dir | default(ansible_user_dir) }}/service_account.json"
    - "{{ install.tmp_dir | default(ansible_user_dir) }}/input.txt"
  loop_control:
    loop_var: "rm_gpg_temp_item"
