# =====  ANSIBLE  ============================================================
#          NAME:  roles/dotfiles/tasks/update-config-files.yml
#   DESCRIPTION:  Primary entry point for this play
# =============================================================================
---
- name: "Generate mailrc configuration file"
  ansible.builtin.template:
    src: "templates/config/dotfiles/mailrc.j2"
    dest: "{{ install.base_path }}/config/dotfiles/mailrc"
    owner: "{{ ansible_user_id }}"
    group: "{{ ansible_user_gid }}"
    mode: "0600"
  when:
    - user_account.smtp.accounts | length > 0
