# =====  ANSIBLE  ============================================================
#          NAME:  site.yml
#   DESCRIPTION:  Entry point for playbook
# ============================================================================
---
- name: Deploy and install dotfiles
  hosts: all
  vars_files:
    - "{{ user_home_dir }}/workspace/ansible/vault/dotfiles.yml"
    - "{{ user_home_dir }}/workspace/ansible/vault/bitwarden.yml"
    - "{{ user_home_dir }}/workspace/ansible/vault/gcloud.yml"

  pre_tasks:
    - name: Install galaxy collections
      ansible.builtin.command:
        cmd: "ansible-galaxy collection install -r {{ install_dotfiles_base_path }}/ansible/requirements.yml"
      changed_when: true

  tasks:
    - name: Run common role
      ansible.builtin.include_role:
        name: common

    - name: Run custom role install_dotfiles
      ansible.builtin.include_role:
        name: install_dotfiles

  post_tasks:
    - name: Clean up temporary files
      ansible.builtin.file:
        path: "{{ cleanup_item }}"
        state: absent
      loop:
        - "/var/tmp/gpg-input.txt"
        - "{{ user_home_dir }}/workspace/ansible/gpg.txt"
        - "{{ user_home_dir }}/workspace/ansible/gpg.txt"
        - "{{ user_home_dir }}/.config/gnupg/privkey.asc"
        - "{{ user_home_dir }}/.config/gnupg/pubkey.asc"
      loop_control:
        loop_var: "cleanup_item"
