# =====  ANSIBLE  ============================================================
#          NAME:  site.yml
#   DESCRIPTION:  Entry point for playbook
# ============================================================================
---
- name: Deploy and install dotfiles
  hosts: all
  vars_files:
    - "{{ user_home_dir }}/workspace/ansible/vault/dotfiles.yml"
    - "{{ user_home_dir }}/workspace/ansible/vault/bitwarden.yml"

  pre_tasks:

  tasks:
    - name: Run common role
      ansible.builtin.include_role:
        name: common

    - name: Run custom role install_dotfiles
      ansible.builtin.include_role:
        name: install_dotfiles

  post_tasks:
    - name: Clean up temporary files
      ansible.builtin.file:
        path: "/var/tmp/gpg-input.txt"
        state: absent
