# =====  ANSIBLE  ============================================================
#          NAME:  site.yml
#   DESCRIPTION:  Entry point for playbook
# ============================================================================
---
- name: Deploy and install dotfiles
  hosts: all

  pre_tasks:
    - name: Install galaxy collections
      ansible.builtin.command:
        cmd: "ansible-galaxy collection install -r {{ install.base_path }}/ansible/requirements.yml"
      changed_when: true

  tasks:
    - name: Run common role
      ansible.builtin.include_role:
        name: common

    - name: Run custom role install_dotfiles
      ansible.builtin.include_role:
        name: dotfiles

  post_tasks:
