# =====  ANSIBLE  ============================================================
#          NAME:  site.yml
#   DESCRIPTION:  Entry point for playbook
# ============================================================================
---
- name: Deploy and install dotfiles
  hosts: all

  tasks:
    # - name: Run common role
    #   ansible.builtin.include_role:
    #    name: common

    - name: Install bitwarden SDK via pip
      ansible.builtin.pip:
        name: bitwarden-sdk
      when: fetch_keys == "true"

    - name: Run custom role install_dotfiles
      ansible.builtin.include_role:
        name: install_dotfiles
