# =====  ANSIBLE  ============================================================
#          NAME:  site.yml
#   DESCRIPTION:  Entry point for playbook
# ============================================================================
---
- name: Deploy and install dotfiles
  hosts: all
  vars_files:
    - "{{ user_home_dir }}/workspace/ansible/vault/dotfiles.yml"
    - "{{ user_home_dir }}/workspace/ansible/vault/bitwarden.yml"

  tasks:
    - name: Run common role
      ansible.builtin.include_role:
        name: common

    - name: Run Bitwarden installation (if enabled)
      ansible.builtin.include_role:
        name: install_bitwarden
      when:
        - secrets.BW_ACCESS_TOKEN is defined
        - fetch_keys == "true"

    - name: Run custom role install_dotfiles
      ansible.builtin.include_role:
        name: install_dotfiles

  post_tasks:
