# =====  ANSIBLE  ============================================================
#          NAME:  site.yml
#   DESCRIPTION:  Entry point for playbook
# ============================================================================
---
- name: Deploy and install dotfiles
  hosts: all
  vars_files:
    - "{{ user_account.home_dir | default(ansible_user_dir) }}/workspace/ansible/vault/default.yml"
    - "{{ user_account.home_dir | default(ansible_user_dir) }}/workspace/ansible/vault/dotfiles.yml"
    - "{{ user_account.home_dir | default(ansible_user_dir) }}/workspace/ansible/vault/bitwarden.yml"
    - "{{ user_account.home_dir | default(ansible_user_dir) }}/workspace/ansible/vault/gcloud.yml"

  pre_tasks:
    - name: Install galaxy collections
      ansible.builtin.command:
        cmd: "ansible-galaxy collection install -r {{ install.base_path }}/ansible/requirements.yml"
      changed_when: true

  tasks:
    - name: Run common role
      ansible.builtin.include_role:
        name: common

    - name: Run custom role install_dotfiles
      ansible.builtin.include_role:
        name: install_dotfiles

    - name: Set up Ansible workspace
      ansible.builtin.include_role:
        name: setup_ansible
      when:
        - user_account.setup_ansible is defined
        - user_account.setup_ansible is true

  post_tasks:
    - name: "Remove temporary GPG file"
      ansible.builtin.file:
        path: "{{ user_account.home_dir | default(ansible_user_dir) }}/privkey.asc"
        state: absent

    - name: "Remove service account file"
      ansible.builtin.file:
        path: "{{ user_account.home_dir | default(ansible_user_dir) }}/service_account.json"
        state: absent

    - name: "Remove service account file"
      ansible.builtin.file:
        path: "{{ user_home_dir | default(ansible_user_dir) }}/input.txt"
        state: absent
