# =====  ANSIBLE  ============================================================
#          NAME:  tasks/deploy-files.yml
#   DESCRIPTION:  Primary entry point for this play
# =============================================================================
- name: Create private keys directory
  ansible.builtin.file:
    path: "{{ user_account.home_dir | default(ansible_user_dir) }}/.config/gnupg/private-keys-v1.d"
    state: "directory"
    owner: "{{ ansible_user_id }}"
    group: "{{ ansible_user_gid }}"
    mode: "0700"
  when:
    - install_dotfiles_gpg_keys_files_found.files | count == 0
  listen: create-gpg-privkey-directory

- name: Generate the GPG key pair using batch mode
  ansible.builtin.command:
    cmd: "gpg --batch --gen-key /var/tmp/gpg-input.txt"
    creates: "{{ user_account.home_dir | default(ansible_user_dir) }}/.config/gnupg/pubring.kbx"
  when:
    - install_dotfiles_gpg_keys_files_found.files | count == 0
  listen: create-gpg-keys

- name: Generate git configuration including signing key
  vars:
    gpg_signing_key: "{{ install_dotfiles_gpg_key_signing_id | default(user_account.gpg.signing_key) }}"
  ansible.builtin.template:
    src: "templates/config/git/config"
    dest: "{{ user_home_dir | default(ansible_user_dir) }}/.config/git/config"
    owner: "{{ ansible_user_id }}"
    group: "{{ ansible_user_group }}"
    mode: "0644"
  listen: generate-git-config-with-gpg
