# ====  ANSIBLE   =============================================================
#          NAME:  roles/common/tasks/main.yml
#   DESCRIPTION:  Main entry point for common tasks
# =============================================================================
---
- name: Enable and start services
  ansible.builtin.systemd_service:
    name: "{{ enabled_service_name }}"
    enabled: true
    state: restarted
    scope: user
  listen: enable-services
  loop: "{{ user_account.systemd.services }}"
  loop_control:
    loop_var: "enabled_service_name"
  when:
    - user_account.systemd.enabled is true
    - user_account.systemd.services | size > 0

- name: Restart key agent services in systemd userspace
  ansible.builtin.systemd_service:
    name: "key-agents.target"
    enabled: true
    state: restarted
    scope: user
  listen: reload-key-agents
  when:
    - user_account.systemd.enabled is true

- name: Reload systemd after changes
  ansible.builtin.systemd_service:
    daemon_reexec: true
    scope: user
  listen: reload-systemd
  when: user_account.systemd.enabled is true
