# ====  ANSIBLE   =============================================================
#          NAME:  roles/common/tasks/main.yml
#   DESCRIPTION:  Main entry point for common tasks
# =============================================================================
---
- name: Reload systemd after changes
  ansible.builtin.systemd_service:
    daemon_reexec: true
    scope: user
  listen: reload-systemd
  when: user_account.systemd.enabled is true
