---
services:
  redis:
    image: redis:latest
    restart: unless-stopped
    ports:
      - "6379:6379"
    command: redis-server --save 20 1 --loglevel warning --requirepass 317V1jK7eMFW2mivTHzmvOvX2znkl4hn
    volumes:
      - redis-data:/data
    healthcheck:
      test: ["CMD", "redis-cli --host localhost --port 6379 -a 317V1jK7eMFW2mivTHzmvOvX2znkl4hn ping"]
      interval: 30s
      timeout: 10s
      retries: 5

---
volumes:
  redis-data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: "/opt/redis/data"

